extends /views/layout

block head
  title Subscribe

block content
  .section-padding
    .container
      .row: .col-sm-6.col-sm-offset-3.text-center
        .alert.alert-success An email confirming your subscription has been sent!
        a.btn.btn-warning(href="/") Back to Offers