.row
	.col-md-5
		form(method="POST", action="/admin/offers/upload", enctype="multipart/form-data")
			input(type="file", name="offers")
			select(name="action_method")
				option(value="replace") replace
				option(value="add") add
			button.btn.btn-primary(type="submit") Upload Offers
.row
	.col-md-5
		form(method="POST", action="/admin/stores/upload", enctype="multipart/form-data")
			input(type="file", name="stores")
			button.btn.btn-primary(type="submit") Upload Stores
