extends /views/layout

block head
  title Server Error

block content
  .section-padding
    .container
      h1 Server Error

      p.lead
        | Sorry something went wrong.
      if (err.stack)
        pre #{err.stack}