.footer-nav
  .container
    //- .row
      .col-sm-4
        h4.text-uppercase About us
        p MyMedicalCannabisShops.com
  
    -var copyrightYear = new Date().getFullYear();
    p.text-center &copy; #{copyrightYear} MyMedicalCannabisShops 