.container
  .navbar-header
    a.navbar-brand(href="/") MyMedicalCannabisShops
  form.navbar-form.navbar-right
    a.btn.btn-default(href="https://my.sericapay.com/merchant/welcome") I'm a Merchant
    | &nbsp;
    a.btn.btn-default(href="https://my.sericapay.com/signup/") I'm a Customer