.container
  .row
    .col-md-3
      a(href="/", style) 
        img.logo(src="/media/logo-horiz.png")
    .col-md-5(style="padding-top:35px;")
      +ShareThisButtons
    .col-md-4.text-right.nav-buttons
      a.btn.btn-primary(href="/i-am-merchant") I'm a Merchant
