div.footer-nav
  div.container
    div.row
      div.col-sm-4
        h4.text-uppercase About us
        p MyMedicalCannabisShops.com
      div.col-sm-3
        h4.text-uppercase Customer Service
        ul.list-unstyled
          li: a(href='http://support.sericatrading.com') Support &amp; FAQ
          li 
            a(href="javascript:void(0)", onclick="olark('api.box.expand')") Live Chat 
              //- span.glyphicon.glyphicon-bullhorn
          li.list-divider
          li: a(href='/terms/') Terms of Service
          li: a(href='/privacy/') Privacy Policy
          li: a(href='/kyc/') KYC and AML
          li: a(href='/fees/') Fees
  
    div.row
      div.col-sm-12
        -var copyrightYear = new Date().getFullYear();
        p.text-center &copy; #{copyrightYear} MyMedicalCannabisShops 

