.container
	.navbar-header
		a.navbar-brand(href="/") MyMedicalCannabisShops
	.navbar-right
		ul.nav.navbar-nav
			li 
				a(href="https://my.sericapay.com/merchant/welcome") I'm merchant
			li 
				a(href="https://my.sericapay.com/signup/") I'm customer
