extends /views/layout

block content
  //- +subscribePrompt
  //- hr

  .section-padding
    .container
      .row
        .col-md-3
          h3.no-margin-top Stores
          .row
            each partner in offerData.partners
              .col-xs-6
                +partnerBox(partner)

        .col-md-9
          .panel.panel-warning: .panel-body
            h2.no-margin.text-orange.text-center $#{total} in total offers! 
          .row
            each offer in offerData.offers 
             +showOffer(offer.Partner, offer)