extends /views/layout

block content
  +subscribePrompt

  .section-padding
    .container
      pre= JSON.stringify(offerData)
      //- .row
        .col-md-3
          h3.no-margin-top Stores
          .row
            each store in stores
              .col-sm-6
                a.thumbnail(href="/store/#{store.name}")
                  img.img-responsive(src="/media/stores/#{store.logo}")

        .col-md-9
          .row
            each offer in offers 
             +showOffer(offer)