extends /views/layout

block content
  .row
    .col-md-9
      .subscribe
        form(method="post", action="/subscribe")
          p.lead.pull-center Get Top Offers In Your Area Delivered to Your Inbox
          input(type="text" name="email", placeholder="Enter your email address")
          input.btn.btn-warning(value="Signup")
          p.gray Plus our daily, hand-picked offers. We won't share your info. Opt out any time 
          a(href="/privacy") Privacy
  .row
    .col-md-3
      p here go merchants
    .col-md-9
      -each offer in offers 
       +showOffer(offer)
