extends /views/layout

block content
  .section-padding
    .container
      .row
        .col-md-12
          h3 #{partner.name} Offers
      .row
        .col-md-9.col-md-push-3
          .row
            each offer in partner.Offers
             +showOffer(partner, offer)
        .col-md-3.col-md-pull-9
          .row
            .col-md-12
              a(href="#{partner.url}" target="_blank")
                img.img-responsive.center-block(src="#{partner.logo}")
         
  +modalTemplate
