extends /views/layout

block head
  title For merchants

block content
  .dark.section-padding
    .container
      h1 Merchant Sign up
      p Leverage Serica and get paid for closing new digital assets and digital money transactions.

  .textured.section-padding
    .container
      .row
        .col-sm-6: .panel.panel-default
          .panel-heading Should I be a reseller?
          .panel-body
            p Resellers are affiliates that leverage the Serica market widgets to catalogs of our products that are available for trade. Increase your margins or make extra revenue on your site without having to process transactions yourself.
            hr
            h4 You should sign up if:
            ul
              li You are a broker-dealer for commodities (precious metals and other physical assets)
              li You run a high-traffic financial services blog or website and can deploy a widget
            hr 
            h4 Start generating revenue in 3 easy steps
            ol
              li: a(href="https://sericatrading.com/merchant/welcome") Sign Up for a Serica Reseller Account
              li Download the Serica Widgets for all available catalogs
              li Collect commissions, payable in cash or bitcoin, when customers complete sale transactions with bitcoin.
            hr
            a.btn.btn-block.btn-lg.btn-danger(href="https://sericatrading.com/merchant/welcome") Sign Up as a Reseller

