@import '../vendor/bootstrap/less/bootstrap.less';
@import '../vendor/font-awesome/less/font-awesome.less';

html, .footer-nav{
  background: #eee;
}

.footer-nav {
  padding-top: 40px;
  color: #999;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.section-padding{
  padding: 60px 0;
}