@import '../vendor/bootstrap/less/bootstrap.less';
@import '../vendor/font-awesome/less/font-awesome.less';

html, .footer-nav{
  background: #eee;
}

.footer-nav {
  padding-top: 40px;
  color: #999;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.section-padding{
  padding: 60px 0;
}

.text-orange {
  color: @brand-warning;
}

.text-uppercase {
  text-transform: uppercase;
}

.no-margin-top {
  margin-top: 0;
}

.partner-sidebar{
  .panel;
  .panel-default;
  display: block;
  overflow: hidden;
  padding: 5px;
  position: relative;
}

.ghost-center {
  position: relative;
  height: 100%;
}
.ghost-center::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 0%;
  vertical-align: middle;
}
.ghost-center p {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}