extends /views/layoutSpecial

block neck
  link(rel='stylesheet', href='/vendor/flipclock/flipclock.css?#{cacheBreaker}')
  script(src='/vendor/flipclock/flipclock.min.js?#{cacheBreaker}')
  script.
    $(function() {
      var endDate = moment('2015-08-06 18:00:00').valueOf();
      var diff = (endDate - moment().valueOf()) / 1000;
      var clock = $('#clock').FlipClock(diff, {
        countdown: true
      });
    });

block content
  div(ng-controller="alldaeOfferController")
    .section-padding.bg-green.text-center
      .container
        h1(style="font-size:50px;") 24-Hour Payday Deal
        h2(style="font-size:36px;") Get $150 Worth of Cannabis for Only $80!
          br
          strong Save $70 (53% OFF)
        #clock

    .stepper
      .row
        .col-sm-4.text-center.step(ng-class="{active: step >= 1}") 1) Medical Status
        .col-sm-4.text-center.step(ng-class="{active: step >= 2}") 2) Enter ZIP
        .col-sm-4.text-center.step(ng-class="{active: step >= 3}") 3) Claim Deal

    .section-padding
      .container.text-center
        .ng-cloak.alert.alert-danger(ng-show="error") {{error}}

        div(ng-show="step === 1")
          h2 Do you have a Doctor's Recommendation for Medical Cannabis?
          p Select one
          br
          a.btn.btn-lg.btn-default(style="width:300px;" href="https://www.hellomd.com/?ref=56B4D935")
            h2.no-margin-top NO
            | I do not have a recommendation

          span.hidden-xs &nbsp;&nbsp;&nbsp;

          a.btn.btn-lg.btn-danger(style="width:300px;" ng-click="step = 2")
            h2.no-margin-top YES
            | I have a recommendation

        .ng-cloak(ng-show="step === 2")
          h2 Enter Your Delivery ZIP Code
          p To qualify for this deal
          .row
            .col-sm-4.col-sm-offset-4
              form.form(ng-submit="submitZip()")
                .form-group
                  input.form-control.input-lg.text-center(type="tel" pattern="[0-9]{4,5}" ng-model="zip")
                button.btn.btn-xl.btn-danger Next &#10095;&#10095;

        .ng-cloak(ng-show="step === 3")
          h2 Enter Your Email Address
          p Last step to qualify and claim this deal
          .row
            .col-sm-4.col-sm-offset-4
              form.form(ng-submit="submitEmail()")
                .form-group
                  input.form-control.input-lg.text-center(type="email" ng-model="email" placeholder="sample@email.com")
                button.btn.btn-xl.btn-danger(ng-disabled="submitted") Finish &#10095;&#10095;

    .section-padding
      .container.text-center
        p This deal ends on Thursday, August 6, 2015 6:00:00 PM Pacific Standard Time